:root {
    --personalizado-navbar-top-height: 4rem;
    --personalizado-navbar-width: 21rem;
}

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg~.navbar-top {
        padding-right: 2.5rem;
    }
}

.navbar-top {
    font-size: .8rem;
    font-weight: 600;
    padding: 0;
    min-height: var(--personalizado-navbar-top-height);
    padding: 0 1.5rem;
}

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg~.navbar-top .navbar-logo {
        position: relative;
        background: rgba(0, 0, 0, 0);
    }
}

@media (min-width: 992px) {
    .navbar-vertical+.navbar-top .navbar-logo {
        width: 15.875rem;
    }
}

.navbar-vertical+.navbar-top .navbar-logo {
    height: var(--personalizado-navbar-top-height) 0.0625rem;
}

.navbar .navbar-logo {
    height: 4rem;
    display: flex;
    align-items: center;
}

.navbar-vertical+.navbar-top .navbar-brand {
    margin-left: .4rem;
}

.navbar-brand {
    padding-top: .2rem;
    padding-bottom: .2rem;
    margin-right: 1rem;
    font-size: 2rem;
    white-space: nowrap;
}

.navbar-top .navbar-nav-icons .nav-item {
    display: flex;
    align-items: center;
}

.avatar-l {
    height: 2.5rem;
    width: 2.5rem;
}

.avatar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.navbar-top .navbar-nav-icons .nav-link {
    padding: .75rem .5rem;
}

.navbar .dropdown-menu.dropdown-menu-end.navbar-dropdown-caret {
    left: auto;
    right: -0.5625rem;
}

.navbar-top .navbar-nav-icons .dropdown-menu {
    position: absolute;
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
}

.navbar .dropdown-menu {
    overflow: visible;
    left: -0.5625rem;
}

.navbar-top .dropdown-menu {
    margin-top: .5rem;
}

.navbar-nav .dropdown-menu {
    position: static;
}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: .125rem;
}

.dropdown-menu {
    font-size: .8rem;
}

.navbar .dropdown-menu.dropdown-menu-end.navbar-dropdown-caret:after {
    right: .9rem;
    left: auto;
}

.navbar .dropdown-menu.navbar-dropdown-caret:after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 1.5rem;
    height: 1.5rem;
    top: -10px;
    left: 1.5rem;
    transform: rotate(45deg);
    background: inherit;
    border-top-left-radius: .25rem;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #cbd0dd;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.dropdown-profile {
    min-width: 18.3125rem;
}

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg .navbar-vertical-content {
        height: calc(100vh - var(--personalizado-navbar-top-height));
    }
}

.navbar-vertical.navbar-expand-lg {
    width: 0;
    margin: 0;
    transition: width .2s ease;
}

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg {
        width: var(--personalizado-navbar-width);
        margin: 0;
        transition: width .2s ease;
    }
}

.navbar-vertical {
    position: fixed;
    display: inline-block;
    z-index: 1020;
    top: var(--personalizado-navbar-top-height);
    padding: 0;
    width: 100vw;
}

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg .navbar-vertical-content {
        height: calc(100vh - var(--personalizado-navbar-top-height));
    }
}

.navbar-vertical .navbar-vertical-content {
    overflow: auto;
}

.navbar-vertical .navbar-vertical-content {
    height: calc(100vh - var(--personalizado-navbar-top-height));
}

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg .navbar-vertical-content {
        width: 100%;
    }
}

.navbar-vertical .navbar-vertical-content {
    padding: 1rem 0;
    overflow-y: auto;
}

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg~.navbar-top~.content {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: var(--personalizado-navbar-width);
    }
}
/* 
@media (min-width: 576px) {
    .content {
        padding-bottom: 4rem;
    }
} */

.content {
    min-height: calc(100vh - calc(var(--personalizado-navbar-top-height) - 4rem));
    padding: calc(var(--personalizado-navbar-top-height) + 1rem) 1rem 1rem;
    /* padding-bottom: 4rem; */
    position: relative;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.bd-mode-toggle .bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.bd-mode-toggle .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

/* 
@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg .navbar-vertical-content .navbar-nav .nav-link.dropdown-indicator {
        padding-left: 1rem;
    }
} */

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg .navbar-vertical-content .navbar-nav .nav-link {
        padding-top: .35rem;
        padding-bottom: .35rem;
        /* padding-left: 1.75rem; */
        margin-left: .75rem;
        margin-right: .75rem;
        border-radius: .5rem;
    }
}

/* 
.navbar-vertical .navbar-vertical-content .navbar-nav .nav-link.dropdown-indicator {
    padding-left: .75rem;
} */

.navbar-vertical .navbar-vertical-content .navbar-nav .nav-link {
    word-break: break-word;
    line-height: 1.188rem;
    /* padding-left: 1.5rem; */
    white-space: nowrap;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}

.navbar .nav-link {
    outline: none;
}

.navbar-vertical .dropdown-indicator {
    position: relative;
}

.nav-link {
    display: block;
    padding: .5rem 0;
    background: none;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.navbar-vertical .dropdown-indicator .dropdown-indicator-icon-wrapper {
    height: 1rem;
    width: 1rem;
    min-width: 1rem;
    margin-left: -0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-vertical .dropdown-indicator[aria-expanded=true] .dropdown-indicator-icon-wrapper .dropdown-indicator-icon {
    transform: rotate(90deg) scale(0.8);
}

.navbar-vertical .dropdown-indicator .dropdown-indicator-icon-wrapper .dropdown-indicator-icon {
    transform: scale(0.8);
    transition: transform .2s ease;
}

.navbar-vertical .navbar-vertical-content .nav-link-icon {
    margin-right: .625rem;
    min-width: 16px !important;
    text-align: center;
}

.navbar-vertical .navbar-vertical-content .nav-link-text {
    padding-top: .125rem;
}

@media (min-width: 992px) {
    .navbar-vertical-collapsed .navbar-vertical.navbar-expand-lg .parent-wrapper.label-1>.parent:first-child {
        display: block;
    }
}

.navbar-vertical .navbar-vertical-content .navbar-nav .nav {
    flex-flow: column nowrap;
}

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg .navbar-vertical-content .navbar-nav .nav .nav-link {
        padding-left: 2.3125rem;
        scroll-margin-top: 200px;
    }
}

.navbar-vertical .navbar-vertical-content .navbar-nav .nav .nav-link {
    padding: .25rem .5rem;
    padding-left: 1.5rem;
}

.navbar-vertical .navbar-vertical-content .navbar-nav .nav a.nav-link {
    color: inherit;
    text-decoration: none;
}

/* 
@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg .navbar-vertical-content .navbar-nav .nav .nav-link .nav-link-text {
        padding-left: 15px;
    }
} */

@media (min-width: 992px) {
    .navbar-vertical.navbar-expand-lg .navbar-vertical-content .navbar-nav .nav .nav .nav-link {
        padding-left: 4.375rem;
    }
}

.navbar-vertical .navbar-vertical-content .navbar-nav .nav .nav .nav-link {
    padding-left: 3.875rem;
}

.dropdown-profile {
    min-width: 18.3125rem;
}

#navbarMenuPrincipal .offcanvas-header {
    margin-top: var(--personalizado-navbar-top-height);
}

.dropdown-profile .nav .nav-link {
    color: inherit;
    padding: .5rem 2.5rem .5rem 2.5rem;
    font-weight: 600;
}

.navbar-top .navbar-nav-icons .nav-link {
    padding: .75rem .5rem;
}


.dropdown-menu .nav-link {
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 1;
}